/* home section start */
body{
    background-color: wheat;
}
main{
    background-color: #0F3C33;
    margin: 0% 20%;
}
.navbar{
    background-color: #0F3C33;
}
.logo{
    width: 75px;
    height: 75px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.logo:hover{
    transform: rotateY(360deg);
}
.navbar{
    justify-content: space-between;
}
.navbar-brand{
transition: all 0.2s;
}
.navbar-brand:hover{
    color: black;
}
.navbar-brand:hover{
    border-bottom: 1px solid goldenrod;
    padding-left: 0;
}
.col{
    margin-top: 5%;
    padding-bottom: 0%;
}
.mt-5{
    padding-top: 15%;
}
.profile-intro{
    text-align: start;
    padding: 8% 10%;
}
.profile-pic-1{
    width: 100%;
}
.btn:hover{
background-color: #0F3C33;
color: white;
}
/* home section end */
/* about me section starts */
#about-section{
    width: 100%;
    text-align: center;
}
.about-me{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about-me-details{
    width: 100%;
}
.about-me-details p{
    margin-top: 40%;
}
/* services section start */
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    margin-left: 55px;
}
/* services section end */
/* skills section start */
#skills-section{
    color: white;
    margin-top: 30px;
    margin-bottom: 0px;
}
.container-skills{
    width: 100%;
    height: 100vh;
    background: #0F3C33;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -60px;
    padding-bottom: -50px;
}
.skills h4{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: rgb(252, 250, 250);
    font-size: 36px;
}
.progress-bar{
    background-color: #f7f7f7;
    width: 1000px;
    height: 50px;
    border-radius: 5px;
}
.progress-bar div{
    height: 17px;
    border-radius: 5px;
    width: 0%;
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ffffff;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-management{
    background: goldenrod;
    animation: data-management 1s linear forwards;
}
.graphics{
    background: goldenrod;
    animation: graphics 1s linear forwards;
}
.web-design{
    background: goldenrod;
    animation: web-design 1s linear forwards;
}
.editing{
    background: goldenrod;
    animation: editing 1s linear forwards;
}
.animation{
    background: goldenrod;
    animation: animation 1s linear forwards;
}
.digital-marketing{
    background: goldenrod;
    animation: digital-marketing 1s linear forwards;
}
.data-management span{
    border: 1px solid #e91e63;
}
.graphics span{
    border: 1px solid #e91e63;
}
.web-design span{
    border: 1px solid #e91e63;
}
.editing span{
    border: 1px solid #e91e63;
}
.animation span{
    border: 1px solid #e91e63;
}
.digital-marketing span{
    border: 1px solid #e91e63;
}
@keyframes data-management{
    100%{
        width: 95%;
    }
}
@keyframes graphics{
    100%{
        width: 97%;
    }
}
@keyframes web-design{
    100%{
        width: 90%;
    }
}
@keyframes editing{
    100%{
        width: 85%;
    }
}
@keyframes animation{
    100%{
        width: 90%;
    }
}
@keyframes digital-marketing{
    100%{
        width: 92%;
    }
}
/* .container-skills{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#skills-section h1{
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}
.skills h3{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: white;
    font-size: 36px;
}
.progress-bar{
    background-color: #f7f7f7;
    width: 1000px;
    height: 50px;
    border-radius: 5px;
}
.progress-bar div{
    height: 17px;
    border-radius: 5px;
    width: 0%;
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ffffff;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-management{
    background: goldenrod;
    animation: html 1s linear forwards;
}
.graphic-design{
    background: goldenrod;
    animation: css 1s linear forwards;
}
.web-design{
    background: goldenrod;
    animation: javascript 1s linear forwards;
}
.editing{
    background: goldenrod;
    animation: bootstrap 1s linear forwards;
}
.animation{
    background: goldenrod;
    animation: bootstrap 1s linear forwards;
}
.digital-marketing{
    background: goldenrod;
    animation: bootstrap 1s linear forwards;
}
.data-management span{
    border: 1px solid #e91e63;
}
.graphic-design span{
    border: 1px solid #e91e63;
}
.web-design span{
    border: 1px solid #e91e63;
}
.editing span{
    border: 1px solid #e91e63;
}
.animation span{
    border: 1px solid #e91e63;
}
.digital-marketing span{
    border: 1px solid #e91e63;
}
@keyframes html{
    100%{
        width: 98%;
    }
}
@keyframes css{
    100%{
        width: 98%;
    }
}
@keyframes javascript{
    100%{
        width: 92%;
    }
}
@keyframes bootstrap{
    100%{
        width: 97%;
    }
}
@keyframes bootstrap{
    100%{
        width: 97%;
    }
}
@keyframes bootstrap{
    100%{
        width: 97%;
    }
} */
/* skills section end */
/* portfolio section start */
#portfolio-section h1{
    color: white;
}
.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    float: left;
    padding: 50px 15px;
}
figure{
    overflow: hidden;
    margin: 20px 10px;
}
.images img{
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.images #zoom-in img{
    transform: scale(1);
    transition: 0.5s ease-in-out; 
}
.images #zoom-in:hover img{
  transform: scale(1.5);  
}
.images2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    float: left;
    padding: 50px 15px;
}
figure{
    overflow: hidden;
    margin: 0 10px;
}
.images2 img{
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.images2 #zoom-in img{
    transform: scale(1);
    transition: 0.5s ease-in-out; 
}
.images2 #zoom-in:hover img{
  transform: scale(1.5);  
}
/* portfolio section end */
/* previous-work section starts */
#previous-work-section{
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}
.works{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.works .card{
    background-color: #0F3C33;
    box-shadow: 10px 10px 8px #01130a;
}
.works .card:hover{
    border: 1px solid goldenrod;
}

/* accordion section starts */
#accordion-section h1{
    color: white;
}
/* footer section start */
.footer{
    background: #0F3C33;
    height: 350px;
}
.footer .footer-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    text-align: center;
    padding-top: 50px;
}
.footer .footer-item .contact p{
    color: #ffffff;
}
hr{
    color: #f7f7f7;
}
.social-icon img{
    width: 40px;
}
